h1{
  background-color: pink;
  border: 18px solid white;
  color: white;
  margin: auto;
  padding: 20px;
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
}

h6{
  background-color: pink;
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
}

h3{
  background-color: pink;
  border: 18px solid white;
  color: white;
  margin: auto;
  padding: 20px;
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
}

h4{
  background-color: pink;
  border: 18px solid white;
  color: white;
  margin: auto;
  padding: 20px;
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
}

h5{
  background-color: pink;
  border: 18px solid white;
  color: white;
  margin: auto;
  padding: 20px;
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
}

h2{
  background-color: pink;
  text-align: center;
  size: 100px
  font-family: "Lucida Console", "Courier New", monospace;
}

h7 {
  background-color: pink;
  border: 18px solid white;
  color: white;
  margin: auto;
  padding: 20px;
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
}

body{
background-color: pink;
}

audio{
  background-color: pink;
}

p{
  background-color: purple;
  font-family: "Lucida Console", "Courier New", monospace;
  color: white;
  margin: auto;
  padding: 15px;
  text-align: center;
}

img{
background-color: purple;
border: 18px solid white;
border-radius: 50%;
color: white;
margin: auto;
padding: 20px;
text-align: center;
}

header{
background-color: pink;
text-align: center;
}

h8 {
  background-color: purple;
  border: 18px solid white;
  color: white;
  margin: auto;
  padding: 20px;
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
}
