header{
  background-color: pink;
  text-align: center;
}

h1{
  background-color: pink;
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
}

h2{
  background-color: pink;
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
}

p1{
  background-color: pink;
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
}

audio{
  background-color: pink;
}

body{
  background-color: pink;
}
