h1{
  background-color: pink;
  font-family: "Lucida Console", "Courier New", monospace;
}


div{
background-color: pink;
}

body{
background-color: pink;
}

audio{
  background-color: pink;
}

div {
  border-radius: 8px;
}

p{
  background-color: purple;
  font-family: "Lucida Console", "Courier New", monospace;
  color: white;
  margin: auto;
  padding: 15px;
  text-align: center;
}

header1{
background-color: pink;
text-align: right;
}

header2{
background-color: pink;
text-align: center;
}

img{
background-color: purple;
border: 18px solid white;
border-radius: 50%;
color: white;
margin: auto;
padding: 20px;
text-align: center;
}

header{
background-color: pink;
text-align: center;
}

h8 {
  background-color: purple;
  border: 18px solid white;
  color: white;
  margin: auto;
  padding: 20px;
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
}
