body{
  background-color:pink;
}

h1{
background-color: blue;
border: 18px solid white;
color: white;
margin: auto;
padding: 20px;
text-align: center;
font-family: "Lucida Console", "Courier New", monospace;
}

img{
background-color: pink;
text-align: center;
}


header{
background-color: pink;
text-align: center;
}
